body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.text-highlight{
    color: blue;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-color: blue;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(to bottom right, blue, aqua);
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.about-me{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}